doctype html
html(lang="en")
    head
        title= title
        link(rel="stylesheet" type="text/css" href="src/style.css")
    body
        h2 The current price of 1 BTC is
        h1(class='bitcoinPrice')= price